.content {
    position: relative;
    z-index: 1;
}

.black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.timer__visual,
.content-timer,
.home__content i {
    position: relative;
    z-index: 1001;
}

.timer__wrap {
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.timer__visual img {
    width: 100px;
    height: auto;
}

.time {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-right: -100px;
    margin-bottom: 90px;
}

.pinheiro{

    width: 150px;
    height: 150px;
}

.content-m, .content-s {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.content-m {
    margin-left: 80px;
    margin-bottom: 40px;
}

.content-s {
    margin-right: 100px;
    margin-bottom: 100px;
    position: relative;
}

.seta-direita {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1002;
}

.seta-esquerda {
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1002;
}

.fEMoAT {
    margin-top: -90px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    line-height: 21px;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1001;
}

.MtDfz {
    margin-left: 1200px;
    width: 80px;
    height: 80px;
    margin-top: -70px;
}

.coin {
    margin-left: 1065px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.barras {
    margin-left: 20px;
}